<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionario Detalhes</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Funcionario</h1>    
    <a href="/">Menu</a>
    <a href="/funcionarios">Voltar</a>
    <br>
    <br>
    <b>Código: </b> <span th:text="${funcionario.id}"></span>
    <br><b>Nome: </b> <span th:text="${funcionario.nome}"></span>
    <br><b>Telefone: </b> <span th:text="${funcionario.telefone}"></span>
    <br><b>Ano de Nascimento: </b> <span th:text="${funcionario.anoNascimento}"></span>

    <h2>Serviços Prestados:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
       
        <tr th:each="servico : ${funcionario.servicos}">
            <td th:text="${servico.id}"></td>
            <td th:text="${servico.nome}"></td>
            <td th:text="${servico.preco}"></td>
        </tr>
    </table>
    <br>
    <br>

    
    <form th:action="@{/associarFuncionarioServico(codigoFuncionario=${funcionario.id})}" method="POST">
        <label><b>Serviços:</b></label><br>
        <select name="id" required>
            <option value="">Escolha o Serviço</option>
            <option th:each="servico : ${servicos}"
                        th:value="${servico.id}"
                        th:text="${servico.nome}">
            </option>
        </select>
        <input type="submit" value="Associar Serviço" />
    </form>
    <br>
    <form th:action="@{/dissociarFuncionarioServico(codigoFuncionario=${funcionario.id})}" method="POST">
        <select name="id" required>
            <option value="">Escolha o Serviço</option>
            <option th:each="servico : ${funcionario.servicos}"
                        th:value="${servico.id}"
                        th:text="${servico.nome}">
            </option>
        </select>
        <input type="submit" value="Dissociar Serviço" />
    </form>

    <h2>Horarios Marcados:</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Cliente</th>
            <th>Serviço</th>
        </tr>
       
        <tr th:each="horario : ${funcionario.horarios}">
            <td th:text="${horario.id}"></td>
            <td th:text="${horario.data}"></td>
            <td th:text="${horario.hora}"></td>
            <td th:text="${horario.cliente}"></td>
            <td th:text="${horario.servico}"></td>
        </tr>
    </table>
    <br>
    <br>

</body>
</html>