<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente Detalhe</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Detalhes Cliente</h1>    
    <a href="/">Menu</a>
    <a href="/clientes">Voltar</a>
    
    <br>
    <br>
    <b>Código: </b> <span th:text="${cliente.id}"></span>
    <br><b>Nome: </b> <span th:text="${cliente.nome}"></span>
    <br><b>Telefone: </b> <span th:text="${cliente.telefone}"></span>
    <br>
    <br>

    <table>
        <tr>
            <th>Horario</th>
            <th>Funcionario</th>
            <th>Serviço</th>
        </tr>
       
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.horario?.hora}"></td>
            <td th:text="${cliente.horario?.funcionario}"></td>
            <td th:text="${cliente.horario?.servio}"></td>
        </tr>
    </table>
    <br>


</body>
</html>