<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionario</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h1>Funcionários</h1>
    <a href="/">Menu</a>


    <br>
    <br>
    <form th:action="@{/salvarFuncionario}" th:object="${funcionario}" method="POST" id="formFuncionario">
        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${funcionario.nome}" name="nome" required />
        <label>Telefone:</label>
        <input type="text" placeholder="Digite o telefone" th:value="${funcionario.telefone}" name="telefone"
            required />
        <label>Ano de Nascimento:</label>
        <input type="text" placeholder="Digite o ano de nascimento" th:value="${funcionario.anoNascimento}"
            name="anoNascimento" required />

        <input type="submit" value="Salvar" />
        <input type="reset" value="Limpar" />
    </form>
    <br>
    <br>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Ano de Nascimento</th>
            <th>Remover</th>
            <th>Editar</th>
            <th>Detalhes</th>
        </tr>

        <tr th:each="funcionario : ${funcionarios}">
            <td th:text="${funcionario.id}"></td>
            <td th:text="${funcionario.nome}"></td>
            <td th:text="${funcionario.telefone}"></td>
            <td th:text="${funcionario.anoNascimento}"></td>
            <td> <a th:href="@{'/removerFuncionario?id=' + ${funcionario.id}}">Remover</a></td>
            <td> <a th:href="@{'/editarFuncionario/ ' + ${funcionario.id}}">Editar</a></td>
            <td> <a th:href="@{'/detalheFuncionario/' + ${funcionario.id}}">Detalhe</a></td>
        </tr>
    </table>


</body>

</html>