<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionario Edit</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Editar Funcionario</h1>    
    <a href="/">Menu</a>
    <a href="/funcionarios">Voltar</a>
    <br>
    <br>
    <form th:action="@{/salvarFuncionario}" th:object="${funcionario}" method="POST" id="formFuncionario">
      
        <label>ID:</label> <span th:text="${funcionario.id}"></span>
        <br>
        <input type="hidden" th:value="${funcionario.id}" th:field="${funcionario.id}" name="id" />
        <input type="hidden" th:value="${funcionario.servicos}" th:field="${funcionario.servicos}" name="servicos" />
        <input type="hidden" th:value="${funcionario.horarios}" th:field="${funcionario.horarios}" name="horarios" />

        <label>Nome:</label>
        <input type="text" placeholder="Digite o nome" th:value="${funcionario.nome}" name="nome" required/>
        <br>  
        <label>Telefone:</label>
        <input type="text" placeholder="Digite o telefone" th:value="${funcionario.telefone}" name="telefone" required/>
        <br>  
        <label>Ano de Nascimento:</label>
        <input type="text" placeholder="Digite o ano" th:value="${funcionario.anoNascimento}" name="anoNascimento" required/>
        
        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>



</body>
</html>