<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Agendamento</h1>    
    <a href="/">Menu</a>
    //receber infos
    //dia

    //Horario

    //funcionario

    //servico 

    //cliente
    
    //mostrar infos
    <table>
            <th>Dia</th>
            <th>Hora</th>
            <th>Funcionário</th>
            <th>Serviço</th>
            <th>Cliente</th>
            <th>Remover</th>
            <th>Editar</th>
    </table>
</body>
</html>