<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Agendamento</h1>    
    <a href="/">Menu</a>

    <br>
    <br>

    <form th:action="@{/salvarHorario}" th:object="${horario}" method="POST" id="formHorario">
        <label>Funcionario:</label>
        <select th:field="${horario.funcionario}" required>
            <option value="">Escolha o funcionario</option>
            <option th:each="funcionario : ${funcionarios}"
                        th:value="${funcionario.id}"
                        th:text="${funcionario.nome}">
            </option>
        </select>
        <label>Cliente:</label>
        <select th:field="${horario.cliente}" required>
            <option value="">Escolha o cliente</option>
            <option th:each="cliente : ${clientes}"
                        th:value="${cliente.id}"
                        th:text="${cliente.nome}">
            </option>
        </select>
        <label>Data:</label>
        <input type="date" placeholder="Escolha a data" th:value="${horario.data}" th:min="${dataString}" name="data" required/>
        
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Limpar" />
    </form>
    
    <br>
    <br>

    <table>
        <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Funcionário</th>
            <th>Serviço</th>
            <th>Cliente</th>
            <th>Remover</th>
            <th>Editar</th>
        </tr>
        <tr th:each="horario: ${horarios}">
            <td th:text="${horario.data}"></td>
            <td th:text="${horario.hora}"></td>
            <td th:text="${horario.funcionario}"></td>
            <td th:text="${horario.servico}"></td>
            <td th:text="${horario.cliente}"></td>
            <td> <a th:href="@{'/removerHorario?id=' + ${horario.id}}">Remover</a></td>
            <td> <a th:href="@{'/editarHorario/' + ${horario.id}}">Editar</a></td>
            <td> <a th:href="@{'/detalheHorario/' + ${horario.id}}">Detalhe</a></td>
        </tr>
    </table>
</body>
</html>