<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horario Edit</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Editar Agendamento</h1>    
    <a href="/">Menu</a>
    <a href="/horarios">Voltar</a>

    <form th:action="@{/salvarHorario}" th:object="${horario}" method="POST" id="formhorario">
      
        <label>ID:</label> <span th:text="${horario.id}"></span>
        <br>
        <input type="hidden" th:value="${horario.id}" th:field="${horario.id}" name="id" />
        <label>Funcionario:</label>
        <select th:field="${horario.funcionario}" required>
            <option th:value="${horario.funcionario}">Escolha o funcionario</option>
            <option th:each="funcionario : ${funcionarios}"
                        th:value="${funcionario.id}"
                        th:text="${funcionario.nome}">
            </option>
        </select>
        <label>Cliente:</label>
        <select th:field="${horario.cliente}" required>
            <option th:value="${horario.cliente}">Escolha o cliente</option>
            <option th:each="cliente : ${clientes}"
                        th:value="${cliente.id}"
                        th:text="${cliente.nome}">
            </option>
        </select>
        <input type="date" placeholder="Escolha a data" th:value="${horario.data}" th:min="${dataString}" name="data" required/>
        <br>  
        <br>
        <br>
        <input type="submit" value="Salvar" />
        <input type="reset"  value="Cancelar"/>
    </form>

</body>
</html>